/* general styles */
html {
    /* background-color: black;     */
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

body {    
    margin: 0px;
    display: flex;
    flex-direction: column;
    /* padding: 0 5%; */
    
}

/* header styles*/

header, footer {
    background-color: #1F2937;
}

header {
    display: flex;    
    align-items: center;
    justify-content: space-around;
    color: white;    
    flex: 1 0 auto;
}

.section.one, header {
    padding: 20px;
}

.logo > a {
    font-size: 24px;
    color: #F9FAF8;
    text-align: left;
}

.header-links {
    display: flex;
    gap: 16px;
}



/* section one styles */

.section.one {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    flex: 0 1 auto;
    overflow: hidden;
}

.section.one > div {
    width: 40%;
}

.section.one > div > h1 {
    font-weight: bolder;
    font-size: 48px;
}

.section.one > div > p {
    font-size: 18px;
    color: #E5E7EB;
}

.section.one > div > button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 5px 25px;
}

.section.one > div >img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.section.one > div > figcaption{
    font-size: 10px;
}

/* section two styles */

.section.two {
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    text-align: center;
}



.product-container {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.product > img {
    width: 150px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 8px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;            
}

.product > img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
}
/* section three styles */

.section.three {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.section.three q {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.section.three figcaption {
    text-align: end;
    font-size: 24px;
}

/* section four styles */

.section.four {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sign-up-container {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 75px;
    margin: 50px;
    padding: 35px 75px;
    line-height: 0;
    font-size: 18px;

}

.section.four  button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 3px solid #E5E7EB;
    border-radius: 5px;
    padding: 5px 25px;
    /* margin: 25px; */
}

/* footer styles */

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}